* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column; /* Change the flex direction to column */
  align-items: center;
  justify-content: center;
  background-color: #232323; /* Dark background color */
  column-gap: 30px;
  /* scale: 0.9; */
}

.form {
  max-width: 430px;
  /* max-height: 450px; */
  width: 100%;
  padding: 30px;
  border-radius: 10px;
  background: #333; /* Dark background color */
  color: #fff; /* Light text color */
  /* Add margin to create space between image and form */
  scale: 0.9;
}

header {
  font-size: 28px;
  font-weight: 600;
  color: #fff; /* Light text color */
  text-align: center;
}
/* 
form {
  margin-top: 30px;
} */

.form .field {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 20px;
  border-radius: 6px;
}

.field input,
.field button {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 16px;
  font-weight: 400;
  border-radius: 6px;
  background-color: white;
  color: black;
}

.field input {
  outline: none;
  padding: 0 15px;
  border: 1px solid #666; /* Dark border color */
}

.field input:focus {
  border-bottom-width: 2px;
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #8b8b8b;
  cursor: pointer;
  padding: 5px;
}

.field button {
  color: #fff;
  background-color: #0171d3; /* Light background color */
  transition: all 0.3s ease;
  cursor: pointer;
}

.field button:hover {
  background-color: #016dcb;
}

.form-link {
  text-align: center;
  margin-top: 10px;
}

.form-link span,
.form-link Link {
  font-size: 14px;
  font-weight: 400;
  color: #fff; /* Light text color */
}

.form a {
  color: #0171d3;
  text-decoration: none;
}

.form-content a:hover {
  text-decoration: underline;
}

.line {
  position: relative;
  height: 1px;
  width: 100%;
  margin: 36px 0;
  background-color: #666; /* Dark background color */
}

.line::before {
  content: "Or";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333; /* Dark background color */
  color: #8b8b8b;
  padding: 0 15px;
}

.media-options a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.google-img {
  margin-right: 10px;
}

a.google {
  border: 1px solid #666; /* Dark border color */
}

a.google span {
  font-weight: 500;
  opacity: 0.6;
  color: #fff; /* Light text color */
}

@media screen and (max-width: 400px) {
  .form {
    padding: 20px 10px;
  }
}

/* https://blog.stackademic.com/next-js-14-server-side-authentication-using-cookies-with-firebase-admin-sdk-46542b1f0a33 */
